[SYSTEM]
NAME=1-ARM MICROSURGERY ROBOT
SIMULATION_MODE=0
EXTERNAL_INTERFACE_ENABLED=1
EXTERNAL_INTERFACE_PORT=7420
TELEOPERATION_MODE=2
TELEOPERATION_CONSTANT_SCALING=0.3

;==========================================================================
; Real-time Tasks
; TASK_PERIOD : period in nanoseconds
; START_DELAY : delay execution of tasks in nanoseconds
; PRIORITY : 0 (lowest) - 99 (highest)
;==========================================================================
[RT_TASKS]
NO_OF_TASKS=5

[TASK0]
ENABLED=1
NAME=Main Control Task
PRIORITY=97
TASK_PERIOD=1000000
START_DELAY=0

[TASK1]
ENABLED=1
NAME=EtherCAT Control Task
PRIORITY=95
TASK_PERIOD=1000000
START_DELAY=0

[TASK2]
ENABLED=1
NAME=Keyboard Input Task
PRIORITY=50
TASK_PERIOD=0
START_DELAY=0

[TASK3]
ENABLED=0
NAME=Terminal Printer
PRIORITY=49
TASK_PERIOD=1000000000
START_DELAY=0

[TASK4]
ENABLED=0
NAME=PI Controller Task
PRIORITY=89
TASK_PERIOD=10000000
START_DELAY=0

;==========================================================================
; DC_ENABLED : Number of Slaves
; DC_ENABLED : Enable distributed clock
; CYCLE_TIME : EtherCAT cycle time in nanoseconds (todo: depend on the main control task period)
;==========================================================================
[ECAT_MASTER]
SLAVENUMBER=16
DC_ENABLED=1
CYCLE_TIME=2000000

[AXIS0]
ENABLED=1
CONNECTED=1
NAME=AXIS 0
PHYSICAL_POS=0
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=1
ENCODER_RESOLUTION=1024
GEAR_RATIO=30
TRANSMISSION_RATIO=6.9
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=9000
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=35.0
POSITION_LIMIT_L=-35.0
VELOCITY_LIMIT_U=9000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=2857

[AXIS1]
ENABLED=1
CONNECTED=1
NAME=AXIS 1
PHYSICAL_POS=1
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=0
JOINT_TYPE=2
DRIVE_MODE=1
ENCODER_RESOLUTION=4096
GEAR_RATIO=16
TRANSMISSION_RATIO=1.0
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=7000
OPERATING_ACCELERATION=100000
OPERATING_DECELERATION=100000
POSITION_LIMIT_U=14.0
POSITION_LIMIT_L=-14.0
VELOCITY_LIMIT_U=7000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=100000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=100000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=-83549

[AXIS2]
ENABLED=1
CONNECTED=1
NAME=AXIS 2
PHYSICAL_POS=2
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=2
DRIVE_MODE=1
ENCODER_RESOLUTION=4096
GEAR_RATIO=1
TRANSMISSION_RATIO=1.2
ONE_TURN_REF=1.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=4000
OPERATING_ACCELERATION=5000
OPERATING_DECELERATION=5000
POSITION_LIMIT_U=19.000
POSITION_LIMIT_L=-19.000
VELOCITY_LIMIT_U=4000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=12615

[AXIS3]
ENABLED=1
CONNECTED=1
NAME=AXIS 3
PHYSICAL_POS=3
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=0
JOINT_TYPE=2
DRIVE_MODE=1
ENCODER_RESOLUTION=4096
GEAR_RATIO=1
TRANSMISSION_RATIO=1.2
ONE_TURN_REF=1.0
HOMING_METHOD=1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=4000
OPERATING_ACCELERATION=5000
OPERATING_DECELERATION=5000
POSITION_LIMIT_U=17.000
POSITION_LIMIT_L=-17.000
VELOCITY_LIMIT_U=4000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=4314

[AXIS4]
ENABLED=1
CONNECTED=1
NAME=AXIS 4
PHYSICAL_POS=4
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=1
ENCODER_RESOLUTION=2048
GEAR_RATIO=100
TRANSMISSION_RATIO=0.929
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=6000
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=90.0
POSITION_LIMIT_L=-90.0
VELOCITY_LIMIT_U=6000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=1953

[AXIS5]
ENABLED=1
CONNECTED=1
NAME=AXIS 5
PHYSICAL_POS=5
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=1
ENCODER_RESOLUTION=2048
GEAR_RATIO=100
TRANSMISSION_RATIO=0.343
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=6000
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=30.0
POSITION_LIMIT_L=-30.0
VELOCITY_LIMIT_U=6000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=-3024

[AXIS6]
ENABLED=1
CONNECTED=1
NAME=AXIS 6
PHYSICAL_POS=6
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=1
ENCODER_RESOLUTION=2048
GEAR_RATIO=100
TRANSMISSION_RATIO=0.371
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=6000
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=33.0
POSITION_LIMIT_L=-33.0
VELOCITY_LIMIT_U=6000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=168

[AXIS7]
ENABLED=1
CONNECTED=1
NAME=AXIS 7
PHYSICAL_POS=7
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=1
ENCODER_RESOLUTION=2048
GEAR_RATIO=100
TRANSMISSION_RATIO=0.371
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=6000
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=33.0
POSITION_LIMIT_L=-33.0
VELOCITY_LIMIT_U=6000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=245

[AXIS8]
ENABLED=1
CONNECTED=1
NAME=AXIS 8
PHYSICAL_POS=8
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=1
ENCODER_RESOLUTION=1024
GEAR_RATIO=30
TRANSMISSION_RATIO=6.9
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=9000
OPERATING_ACCELERATION=8000
OPERATING_DECELERATION=8000
POSITION_LIMIT_U=35.0
POSITION_LIMIT_L=-35.0
VELOCITY_LIMIT_U=9000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=175

[AXIS9]
ENABLED=1
CONNECTED=1
NAME=AXIS 9
PHYSICAL_POS=9
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=0
JOINT_TYPE=2
DRIVE_MODE=1
ENCODER_RESOLUTION=4096
GEAR_RATIO=16
TRANSMISSION_RATIO=1.0
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=7000
OPERATING_ACCELERATION=100000
OPERATING_DECELERATION=100000
POSITION_LIMIT_U=14.0
POSITION_LIMIT_L=-14.0
VELOCITY_LIMIT_U=7000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=100000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=100000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=-45484

[AXIS10]
ENABLED=1
CONNECTED=1
NAME=AXIS 10
PHYSICAL_POS=10
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=2
DRIVE_MODE=1
ENCODER_RESOLUTION=4096
GEAR_RATIO=1
TRANSMISSION_RATIO=1.2
ONE_TURN_REF=1.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=4000
OPERATING_ACCELERATION=5000
OPERATING_DECELERATION=5000
POSITION_LIMIT_U=19.000
POSITION_LIMIT_L=-19.000
VELOCITY_LIMIT_U=4000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=2848

[AXIS11]
ENABLED=1
CONNECTED=1
NAME=AXIS 11
PHYSICAL_POS=11
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=0
JOINT_TYPE=2
DRIVE_MODE=1
ENCODER_RESOLUTION=4096
GEAR_RATIO=1
TRANSMISSION_RATIO=1.2
ONE_TURN_REF=1.0
HOMING_METHOD=1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=4000
OPERATING_ACCELERATION=5000
OPERATING_DECELERATION=5000
POSITION_LIMIT_U=17.000
POSITION_LIMIT_L=-17.000
VELOCITY_LIMIT_U=4000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=10036

[AXIS12]
ENABLED=1
CONNECTED=1
NAME=AXIS 12
PHYSICAL_POS=12
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=1
ENCODER_RESOLUTION=2048
GEAR_RATIO=100
TRANSMISSION_RATIO=0.929
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=6000
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=90.0
POSITION_LIMIT_L=-90.0
VELOCITY_LIMIT_U=6000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=19701

[AXIS13]
ENABLED=1
CONNECTED=1
NAME=AXIS 13
PHYSICAL_POS=13
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=1
ENCODER_RESOLUTION=2048
GEAR_RATIO=100
TRANSMISSION_RATIO=0.343
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=6000
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=30.0
POSITION_LIMIT_L=-30.0
VELOCITY_LIMIT_U=6000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=-5822

[AXIS14]
ENABLED=1
CONNECTED=1
NAME=AXIS 14
PHYSICAL_POS=14
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=1
ENCODER_RESOLUTION=2048
GEAR_RATIO=100
TRANSMISSION_RATIO=0.371
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=6000
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=33.0
POSITION_LIMIT_L=-33.0
VELOCITY_LIMIT_U=6000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=-1157

[AXIS15]
ENABLED=1
CONNECTED=1
NAME=AXIS 15
PHYSICAL_POS=15
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=1
ENCODER_RESOLUTION=2048
GEAR_RATIO=100
TRANSMISSION_RATIO=0.371
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=6000
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=33.0
POSITION_LIMIT_L=-33.0
VELOCITY_LIMIT_U=6000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=-1081

